body {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
    }
.block {
    position: relative;
    width: 1000px;
    height: 1600px; ;
    border: 2px solid black;


    padding: 10px;
    margin: 10px auto ;

}
.block__elem1 {
    position: relative;
    top: 20px;
    left: 250px;
    width: 500px;
    height: 500px; ;
    
    border: 2px solid black;
    border-radius: 50%;
    background-color:red;

    
}
.block__elem2 {
    position: relative;
    top: 40px;
    left: 250px;
    width: 500px;
    height: 500px; ;
    
    border: 2px solid black;
    border-radius: 50%;
    background-color: yellow;
}
.block__elem3 {
    position: relative;
    top: 60px;
    left: 250px;
    width: 500px;
    height: 500px; ;
    
    border: 2px solid black;
    border-radius: 50%;
    background-color: green
}